*{font-family: "Heiti SC";}

body{
	max-width: 640px;
	min-height: 693px;
	overflow: hidden;s
}

#bg{
	width: 100%;
	max-width: 440px;
	min-height: 736px;
	background-image: url('../images/02.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

#bg p{
	position: absolute;
	top: 72%;
	left: 10%;
	color: #fff;
	font-size: 16px;
	font-weight: bolder;
	text-shadow: 1px 2px 1px #000;
}

#word{
	position: absolute;
	top: 80%;
	left: 10%;
}

#submit{
	position: absolute;
	top: 80%;
	left: 60%;
	width: 60px;
	height: 25px;
	background-color: #ccc;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:none;
	border-style: none;
}

#draw{
	overflow: hidden;
}

.hide{
	display: none;
}

.fullWidth{
	width: 100%;
}